// Colors
$primary-color: #A7C8DB;
$secondary-color: #1F3542;
$tertiary-color: #323D42;
$body-copy-color: #95989A;
$gray: #C7C7C7;
$light-gray: lighten($gray, 15);
$white: white;

$primary-danger: rgb(195,58,40);
$primary-danger-light: lighten(rgb(195,58,40), 20);
$primary-safe: rgb(85,181,159);
$primary-warning: rgba(#E3CD85, .5);
$primary-danger-transparent: rgba($primary-danger-light, .32);
$primary-safe-transparent: rgba($primary-safe, .32);

$metric-bar-background: $light-gray;
$metric-bar-foreground-safe: $primary-safe-transparent;
$metric-bar-foreground-danger: $primary-danger-transparent;
$metric-bar-foreground-warning: $primary-warning;

// Fonts
$primary-font: 'Source Sans Pro', sans-serif;
$bold-weight: 600;
$medium-weight: 400;
$light-weight: 200;
$relative-font-size: 16px;

// Dimensions
$header-height: 75px;
$footer-height: 100px;
$master-max-width: 1280px;
$toolbar-height: 35px;
$toolbar-closed: 60px;
$map-height: calc(100vh - #{$header-height});
$toolbar-width: 400px;
$map-width: calc(100% - #{$toolbar-width});


// Transitions
$toolbar-slide: all .4s ease-in-out;