.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  display: none;
  text-align: center;

  p {
    margin: 10px 0;
  }

  &.loading-data {
    display: block;
  }

  .loading-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url('./../assets/loading.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

