.map-wrapper {
  height: $map-height;

  .map-container {
    float: left;
    height: 100%;
    position: relative;

    &.toolbar-open {
      width: calc(100% - 370px);
      transition: $toolbar-slide;
    }

    &.toolbar-closed {
      width: calc(100% - #{$toolbar-closed});
      transition: $toolbar-slide;
    }

    .map-circle {
      height: 200px;
      width: 200px;
      background-color: $primary-safe-transparent;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .map-circle-hover {
      height: 200px;
      width: 200px;
      background-color: rgba(green, .7);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


