@import "./../../../base-sass/main";

.content-main {

  .hero-container {
    background-image: url("./../../../assets/water-bg-small.jpg");
    height: calc(100vh - #{$header-height});
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
    position: relative;
    max-height: 1200px;

    .title-container {
      position: absolute;
      top: 10%;
    }

    @include ghost-button($primary-color, $white, small);

    .ghost-btn {
      display: inline-block;

    }

    @include breakpoint($medium) {
      background-image: url("./../../../assets/water-bg-medium.jpg");
      background-position-y: 50px;
    }

    @include breakpoint($large) {
      background-image: url("./../../../assets/water-bg.jpg");
      background-position-y: -25px;
      min-height: 600px;
    }
  }

  .desktop-showcase-container {
    width: 100%;
    height: 80vh;
    background-color: $white;
    min-height: 550px;
    position: relative;

    header h2 {
      text-align: center;
      margin-top: 60px;
    }

    .desktop-image-container {
      height: 400px;
      width: 400px;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }

    .desktop-image-container .desktop-image {
      background-image: url("./../../../assets/macbook-template.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      height: 100%;
      width: 100%;
    }

    @include breakpoint($medium) {
      .desktop-image-container {
        width: 500px;
      }
    }

    @include breakpoint($large) {
      .desktop-image-container {
        width: 640px;
        right: 50px;
        transform: translateY(-40%);
      }
    }
  }

  .action-call {
    background-color: $secondary-color;
    width: 100%;
    height: 20vh;
    min-height: 120px;
    position: relative;

    @include ghost-button($white, $secondary-color);

    .ghost-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mobile-showcase-container {
    height: 100vh;
    min-height: 650px;
    background-color: $primary-color;
  }
}
